/* Estilos de pagina formato Sim */
html { 
  	background: url(../img/bg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.logo {
	position: absolute; 
	top: 50%;
	left: 50%;
	width: 200px; 
	margin-top: -100px;
	margin-left: -100px;
}

img {
	animation: pulse 5s infinite;
}

img.logo {
	box-shadow: 0px 0px 45px #fff;	
	transition: box-shadow 1s;
}

img.logo:hover {
	box-shadow: 0px 0px 200px #fff;
}

.mensajes {
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 100%;
	text-align: center;
	font: 24px Arial;
	color: rgba(10,30,230,0.9);
	text-shadow: 0px 0px 3px #fff;
}

.mensajes ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.mensajes ul li {
	display: none;
}